<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">BLUE PRINTS</title>

	<th:block layout:fragment="headContent"></th:block>

	<!-- 공통 css, js, meta tag -->
	<th:block th:replace="~{fragments/layout/commonHead}"></th:block>

	<!-- 공통 javascript -->
	<th:block th:replace="~{fragments/layout/commonScript}"></th:block>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

	<!-- Preloader -->
	<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" th:src="@{/vendor/admin-lte/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
	</div>

	<!-- Navbar -->
	<th:block th:include="~{fragments/layout/defaultNavbar}"></th:block>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<th:block th:include="~{fragments/layout/defaultSidebar}"></th:block>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<th:block layout:fragment="bodyContentHeader"></th:block>
			</div>
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<th:block layout:fragment="bodyContent"></th:block>
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<th:block th:include="~{fragments/layout/defaultFooter}"></th:block>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- page content javascript -->
<th:block layout:fragment="pageCustomScript"></th:block>

<th:block layout:fragment="pageCustomCss"></th:block>

</body>
</html>
