<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:fragment="inspiniaHead">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>INSPINIA | Dashboard</title>
        <th:block th:switch="${resourceType}">
            <th:block th:case="wan">
                <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet" />
                <link rel="stylesheet" th:href="@{https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css}">
                <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css}">
                <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css}">
                <link rel="stylesheet" th:href="@{/vendor/inspinia/css/style.css}">
            </th:block>
            <th:block th:case="lan">
                <link rel="stylesheet" th:href="@{/vendor/inspinia/css/bootstrap.min.css}">
                <link rel="stylesheet" th:href="@{/vendor/inspinia/font-awesome/css/font-awesome.css}">
                <link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css}">
                <link rel="stylesheet" th:href="@{/vendor/inspinia/css/animate.css}">
                <link rel="stylesheet" th:href="@{/vendor/inspinia/css/style.css}">
            </th:block>
        </th:block>
    </th:block>
</html>