<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="inspiniaScript">
    <!-- Mainly scripts -->
    <script th:src="@{/vendor/inspinia/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/vendor/inspinia/js/popper.min.js}"></script>
    <script th:src="@{/vendor/inspinia/js/bootstrap.js}"></script>
    <script th:src="@{/vendor/inspinia/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/vendor/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Flot -->
    <script th:src="@{/vendor/flot/jquery.flot.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/vendor/inspinia/js/inspinia.js}"></script>
    <script th:src="@{/vendor/inspinia/js/plugins/pace/pace.min.js}"></script>


    <!-- jQuery UI -->
    <script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>

    <!-- Sparkline demo data  -->
    <!--<script src="js/demo/sparkline-demo.js"></script>-->

    <!-- ChartJS-->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Toastr -->
    <script th:src="@{/vendor/toastr/toastr.min.js}"></script>
</th:block>
</html>