<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <!-- use Spring default values -->
    <!-- https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_FILE" value="./logs"/>


    <logger name="com.selab.springbootblueprints" level="debug"/>

    <logger name="org.springframework.web" level="info"/>
    <logger name="org.springframework.transaction" level="trace"/>
    <logger name="org.hibernate.SQL" level="info"/>
    <logger name="org.hibernate.type" level="trace"/>
    <logger name="org.apache.tomcat" level="info"/>

    <logger name="jdbc" level="off"/>
    <logger name="jdbc.sqlonly" level="off"/>
    <logger name="jdbc.sqltiming" level="off"/>
    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.resultsettable" level="debug"/>
    <logger name="jdbc.connection" level="off"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>