<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <!-- use Spring default values -->
    <!-- https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_FILE" value="./logs"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--        <destination>${logging.logstash.url}</destination>-->
        <destination>192.168.100.2:6000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <pattern>{"serviceID":"${spring.application.name}"}</pattern>
                </pattern>
                <timestamp />
                <!--<version />-->
                <context />
                <threadName />
                <logLevel />
                <message />
                <loggerName />
                <logstashMarkers />
                <stackTrace />
                <callerData />
            </providers>
        </encoder>
    </appender>

    <logger name="com.selab.springbootblueprints" level="debug"/>

    <logger name="org.springframework.web" level="info"/>
    <logger name="org.springframework.transaction" level="trace"/>
    <logger name="org.hibernate.SQL" level="info"/>
    <logger name="org.apache.tomcat" level="info"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>