<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="@{${templateStyle}+'/layout/headOnlyLayout'}">

<head>
    <title>Sample</title>

    <!-- overlayScrollbars -->
    <link rel="stylesheet" th:href="@{vendor/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{vendor/daterangepicker/daterangepicker.css}">
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{vendor/summernote/summernote-bs4.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div>hello</div>
</div>

<th:block layout:fragment="pageCustomScript">

</th:block>

<th:block layout:fragment="pageCustomCss">

</th:block>

</body>
</html>