<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="inspinia/fragments/layout/commonHead ::inspiniaHead"></th:block>
</head>

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation" th:replace="inspinia/fragments/layout/headOnlyLayoutNavbar :: inspiniaHeadOnlyNavbar"></nav>
        <div class="wrapper wrapper-content">
            <div class="container">
                <div layout:fragment="content"></div>
            </div>
        </div>
        <div class="footer" th:replace="inspinia/fragments/layout/defaultFooter :: inspiniaFooter"></div>

    </div>
</div>
<th:block th:replace="inspinia/fragments/layout/commonScript :: inspiniaScript"></th:block>
<script>
    $(document).ready(function () {
        // doSome
    })
</script>

</body>

</html>