<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/headOnlyLayout}">
<th:block layout:fragment="headContentBeforeThemeStyle">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" th:href="@{/vendor/icheck-bootstrap/icheck-bootstrap.min.css}">
</th:block>
<head>
    <title>Registration Page</title>
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form id="userForm" th:action="@{/register}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="ID" minlength="5" maxlength="15">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" minlength="5" maxlength="21">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="repeatPassword" class="form-control" placeholder="Retype password" minlength="5" maxlength="21">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" id="registerBtn" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a th:href="@{/login}" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/vendor/admin-lte/js/adminlte.min.js}"></script>

    <script th:src="@{/js/util/formAjaxFunction.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#registerBtn").on("click", function (event) {
                event.preventDefault();

                if ($("#inputPassword").val() != $("#repeatPassword").val()) {
                    alert("비밀번호가 일치하지 않습니다");
                    return;
                }

                formAjax($("#userForm"), function (data, textStatus, xhr) {
                    if (data == 'NAME_NOT_VALID') {
                        alert("ID가 유요하지 않습니다.");
                    } else if (data == 'PASSWORD_NOT_VALID') {
                        alert("Password가 유효하지 않습니다.");
                    } else if (data == 'OK') {
                        window.location.href = "/login";
                    } else {
                        console.log(data);
                    }
                });
            })
        });
    </script>
</body>
</html>
