<!DOCTYPE html>
<meta charset="UTF-8">
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">연직바람</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="~{fragments/layout/commonHead}"></th:block>

    <!-- 공통 javascript -->
    <th:block th:replace="~{fragments/layout/commonScript}"></th:block>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:include="~{fragments/layout/defaultSidebar}"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:include="~{fragments/layout/defaultTopbar}"></th:block>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- page content body 구성 -->
                <th:block layout:fragment="content"></th:block>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:include="~{fragments/layout/defaultFooter}"></th:block>

    </div>

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script type="text/javascript">

</script>

<!-- page content javascript -->
<th:block layout:fragment="pageCustomScript"></th:block>
<th:block layout:fragment="pageCustomCss"></th:block>

</body>
</html>