<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Project G</title>

<th:block th:replace="~{fragments/layout/commonHead}"></th:block>

</head>

<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center row vh-100">

			<div class="col-xl-5 col-lg-12 col-md-9 my-auto">

				<div class="card o-hidden border-0 shadow-lg">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">SignOut</h1>
								</div>
								<form class="user" th:action="signOut" method="post">
									<div>
										<h4>
											<span class="small">로그아웃하시겠습니까?</span>
										</h4>
									</div>
									
									<button class="btn btn-primary btn-user btn-block">
										SignOut 
									</button>
									<a href="/" class="btn btn-secondary btn-user btn-block">
										Cancel 
									</a>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<th:block th:replace="~{fragments/layout/commonScript}"></th:block>

</body>

</html>
